body {
    font-size: 16px;
    /* Define explicitamente o tamanho da fonte */
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
    color: #3D3F40;
    margin: 0;
}

fieldset {
     all: unset; /* para tirar os estilos iniciais  */
}

#menu-principal li {
    display: inline
}

#menu-principal a {
    display: block;
    float: left;
    font-size: 18px;
    color: black;
    text-decoration-style: none;
    margin-left: 32px;
}

#menu-principal {
    position: absolute;
    top: 0px;
    right: 0px;
}

#foto-principal {
    height: 200px;
    background: url(../imagens/foto_principal.jpg) no-repeat center top;
    text-align: center;
}

#cabecalho {
    max-width: 60em;
    /* 1em=16px  60*16 = 960 */
    min-width: 37.5em;
    /* 37.5*16 = 600 */
    margin: 0 auto;
    position: relative;
    /* coloquei para o menu-principal vir para a esquerda */

    font-family: "Segoe UI";
    font-weight: lighter;
}

/* https://www.w3schools.com/css/css_link.asp */
#menu-principal a:hover {
    color: blue;
}

#menu-principal a.ativo {
    color: blue;
    font-weight: bold;
}

#menu-principal a:link {
    text-decoration: none;
}

#conteudo-principal {
    width: 64.583333333%;
    /* 620 de 900 */
    margin-bottom: 20px;
    position: relative;
}

#conteudo-secundario {
    float: right;
    width: 29.166666666%
        /* 280 de 900 */
}

#conteudo {
    display: flex;
    justify-content: space-between;
    max-width: 60em;
    /* 1em=16px  60*16 = 960 */
    min-width: 37.5em;
    /* 37.5*16 = 600 */
    margin: 0 auto;
}

#conteudo-principal h1 {

    font-size: 2.25em;
    font-weight: 600;
    /* 2.25*16 = 36 */
}

p {
    font-size: 1em;
    margin-bottom: 1.5em;
}

#conteudo-secundario h1 {
    font-size: 1.5em;
    font-weight: 600;
    /* 1.5*16 = 24 */
}

#conteudo-secundario p {
    font-size: 0.875;
    /* 0.875*16 = 14 */
}

#conteudo-secundario a {
    font-size: 18px;
    color: white;
}

#conteudo-secundario {
    background-color: #0f599f;
    padding: 10px 20px 30px 20px;
    margin-top: 30px;
    color: white;
}

#rodape {
    clear: both;
}

#contato {
    float: left;
    font-size: 16px;
    margin: 12px 12px;
}

#endereco {
    float: right;
    text-align: right;
    font-size: 14px;
    margin: 12px 12px;
}

#copyright {
    clear: both;
    font-size: 11px;
    display: block;
    margin: 12px 0px;
    padding: 1em;
}

footer {
    max-width: 60em;
    /* 1em=16px  60*16 = 960 */
    min-width: 37.5em;
    /* 37.5*16 = 600 */
    margin: 20px auto 0 auto;
    background-color: #808080;
    color: white;
}

#conteudo-lateral {
    margin-top: 30px;
    float: right;
    width: 29.166666666%
        /* 280 de 900 */
}

#conteudo-lateral figure {
    margin: 0;
    line-height: 10px;
}

#conteudo-lateral img {
    width: 100%;
}

.legenda {
    margin: 0;
    color: #FFF;
    background: #808080;
    font-style: italic;
    text-align: center;
    padding: 0.3em 0.6em;
    line-height: 1rem;
}

.depoimento {
    margin-bottom: 2em;
}

.depoimento blockquote {
    font-size: 16px;
    font-family: Georgia, serif;
    font-style: italic;
    line-height: 1.5em;
    color: #666;
    text-align: justify;
    margin: 0 0 0.3em 0;
}

.depoimento blockquote p {
    margin-bottom: 0.7em;
}

.depoimento .autor {
    text-align: right;
    font-size: 12px;
}

.tabela-servicos {
    border-spacing: 0;
    width: 100%;

}

.tabela-servicos caption {
    font-size: 24px;
    margin-bottom: 0.5em;
    text-align: left;
}

.tabela-servicos th {
    background: #0F599F;
    color: #FFF;
    font-weight: normal;
    text-align: center;
}

.tabela-servicos th,
.tabela-servicos td {
    border-bottom: 1px solid #CCC;
    font-size: 14px;
    padding: 0.3em;
}

.tabela-servicos .prazo-entrega {
    text-align: center;
}

.tabela-servicos .valor-servico {
    text-align: right;
}

.tabela-servicos {
    position: relative;
    top: 300px;
}

.campo {
    margin-bottom: 0.75em;
}

.campo label {
    display: block;
    font-size: 1em;
    margin-bottom: 0.1em;
}

.campo abbr {
    color: #C00;
    font-weight: bold;
}

.campo input,
.campo textarea,
.campo select {
    width: 100%;
    border: 1px solid #CCC;
    font-size: 1em;
    padding: 0.1em 0;
}


label.checkbox {
    display: inline-block;
    margin-right: 1em;
}

fieldset .grupo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.campo.nome, .campo.empresa {
    width: 48%;
}

.campo.telefone {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.campo.departamento {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.submit {
    background: #0F599F;
    color: #CCC;
    font-size: 1em;
    font-weight: bold;
    border: 0;
    padding: 0.5em 1em;
    margin-top: 1em;

}







